.profil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    min-height: fit-content;
    /* background-color: rgb(65, 12, 34); */
}
.profil-parent{
    display: flex;
    align-items: center;
    color: aliceblue;
}
.profil-detail-name{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-dowload{
    background-color: rgb(247, 73, 73);
}
.profil-detail-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}
.profil-detail-role h1{
    font-size: 40px;
    font-family:cursive;
}
.primary-text{
    color: white;
}
.highlighted-text{
    color: rgb(82, 43, 12);
}
.profil-detail-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: 'Poppins Light';
}
.profil-options .highlighted-btn{
    margin: 0 0 0 28px;
     background-color: rgb(247, 73, 73);
}

.profil-options .highlighted-btn:hover{
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}
.profil-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 #eebb52;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0 0 100px;
}
.profil-picture-back{
    width: 92%;
    height: 92%;
    background-image: url('../../assets/me.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.profil-picture-back:hover{
    transform: scale(1.07);
    transition:1s ease-out;
}
.cloz .cloz-icons i{
    color: white;
    padding: 8px;
    padding-left: 0px;
}
.cloz .cloz-icons i:hover{
    transform: scale(1.5);

}
/* responsible */

@media screen and (max-width:1110px){
    .profil-picture{
        margin: 0px 0px 0px 80px;
    }
    .profil-detail-name{
        font-size: 20px;
    }
    .profil-detail-role .primary-text{
        font-size: 12px;
    }
    .profil-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;

    }
    
}
@media screen and (max-width:910px) {
    .profil-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
    
}
@media screen and (max-width:810px) {
    .profil-picture{
        margin: 0px !important;
    }
    .profil-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profil-options{
        display: flex;
        justify-content: space-between;
    }
    .profil-options .highlighted-btn{
        margin: 0 !important;
    }
    .profil-options,
    .profil-detail-role{
        text-align: center;
    }
    
}

@media screen and (max-width:375px) {
    .profil-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .profil-detail{
        width: 90%;
    }
}